<h1>Posts Index</h1>

<% @posts.each do |post| %>

<div>
  <h4><%= post.title.upcase %></h4>
  <p> <%= post.body %> </p>
  <% if member_signed_in? %>
    <p> By: <%= post.member.name %> </p>
  <% end %>
</div>

<%end%>
